.header {
    background-color: yellowgreen;
    height: 150px;
}

.content {
    background-color: beige;
}

.sidebar {
    background-color: blue;
    min-height: 400px;
}

.main-content {
    background-color: aqua;
    min-height: 520px;
}

.footer {
    background-color: red;
    height: 50px;
}

img {
    height: 100px;
    margin: 5px;
}